body {
	background: #242424 url('../assets/boxed-bg-dark.png') repeat;
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(22, 18px);
	margin-top: 10px;
	width: 435px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background: grey;
	border: 20px solid black;
}

.grid-item {
	border: 1px solid black;
	border-radius: 0px;
	padding: 1px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

.centered {
	text-align: center;
}

.card {
}

.birthday-modal-actions {
	justify-content: flex-end;
	flex-wrap: wrap;
}
